[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colordistance"]
	path = colordistance
	url = https://github.com/hiweller/colordistance
[submodule "countcolors"]
	path = countcolors
	url = https://github.com/hiweller/countcolors
[submodule "recolorize"]
	path = recolorize
	url = https://github.com/hiweller/recolorize
